<!DOCTYPE html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <html lang="es">
  <link href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css' rel='stylesheet'type='text/css'>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <div>
    <h1>Nueva Categoría</h1> 
    <div class="container container-center">
      <div class="row">
        <div class="col-8">
          <form method="POST" action="">
            {% csrf_token %}
            <input name="name" class='form-control' id='name' placeholder='Nombre...' type='text'>
            <button type="submit" class="btn waves-effect waves-light">
              Crear
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>