<!DOCTYPE html>
<head>
  {% load static %}
  <meta charset="utf-8">
  <html lang="es">
  <link href='https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
  <link href='//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css' rel='stylesheet'type='text/css'>
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <div>
    <h1>Nuevo Producto</h1> 
    <div class="container container-center">
      <div class="row">
        <div class="col-8">
          <form method="POST" action="">
            {% csrf_token %}
            <input name="name" class='form-control' id='name' placeholder='Nombre...' type='text'>
            <select name="category" class='form-control' id='category'>
              {% for category in categories%}
              <option value={{ category.id }}>{{ category.name }}</option>
              {% endfor %}
            </select>
            <input name="barcode" class='form-control' id='barcode' placeholder='Código de Barra...' type='text'>
            <select name="producer" class='form-control' id='producer'>
              {% for producer in producers%}
              <option value={{ producer.id }}>{{ producer.name }}</option>
              {% endfor %}
            </select>
            <input name="stock" class='form-control' id='stock' placeholder='Cantidad...' type='number'>
            <input name="price" class='form-control' id='price' placeholder='Precio...' type='number'>
            <button type="submit" class="btn waves-effect waves-light">
              Registrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>