<!DOCTYPE html>
<html>

<head>
  {% load static %}
  <meta charset="utf-8">
  <title>Guardería Atrás Furros</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/input.css' %}" rel="stylesheet">
</head>

<body>
    <div class="body-text">
      <br>
      <h1>Bienvenido a <h1 style="color: #1D3AD2">Holobodega</h1></h1>
      <br>
      <div>
        <a href="FormRegistrarPerro.php" class="action-container"><button class="action inventario">Inventario</button></a><a href="ConsultarMisPerros.php" class="action-container"><button class="action caja">Caja</button></a>
      </div>
    </div>
</body>

</html>