<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <title>HoloBodega</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />    
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet"> 
</head>
<body>
  <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="/"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3b/Hololive_triangles_logo.svg/476px-Hololive_triangles_logo.svg.png" style="width:20px;" alt=""> HoloBodega</a>
  </nav>
    <div>
      <h1>Caja</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-8 offset-2">
          <div class="d-flex">
            <a class="btn btn-primary" href="/sale/products/">Productos</a>
            <a class="btn btn-primary" href="/sale/debt/">Deudas</a>
            <a class="btn btn-primary " href="/sale/cart/">Carrito</a>
          </div>
          <form method="GET" action="/sale/debt/" class="input-group mb-3">
            {% csrf_token %}
            <input id="search_input" name="search_input" type="text" class="form-control" placeholder="Búsqueda de deudor" aria-label="Búsqueda de deudor" aria-describedby="button-addon2">
            <button class="btn btn-secondary" type="submit" id="search_button">Buscar</button>
          </form>
          <table class="table table-primary">
            <thead>
                <th>Nombre</th>
                <th>Deuda Total</th>
                <th>Opciones</th>
            </thead>
            <tbody>
                {% for debtor in debtors %}
                    <tr>
                        <td>{{debtor.name}}</td>
                        <td>S/ {{debtor.total_debt}}</td>
                        <td>
                          {% if debtor.total_debt > 0 %}
                            <a class="btn btn-primary" id="debt-edit-button" href="{% url 'debt_edit' debtor.id %}">Abonar</a>
                          {% else %}
                          <a class="btn btn-secondary text-light" id="debt-edit-button" disabled>Abonar</a>
                          {% endif %}
                            <form method="POST" action="/sale/debt/add-debt/" class="input-group mb-3">
                            {% csrf_token %}
                            <input name="debtor" value="{{debtor.id}}" hidden>
                            
                              <button class="btn btn-primary mx-auto mt-2" type="submit">
                                Registrar deuda
                              </button>
                          </form>
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td><b>Total:</b> {{sale.update_total}}</td>
                  <td>
                    <form method="POST" action="" class="input-group mb-3">
                      {% csrf_token %}
                      
                        <button class="btn btn-primary mx-auto" type="button" data-bs-toggle="modal" data-bs-target="#debtorModal" id="debtor-register-button">
                          Agregar Deudor
                        </button>
                      
                    </form>
                  </td>
              </tr>
            </tbody>
          </table>
          <!--Modal Registro de Deudor-->
          <div class="modal fade" id="debtorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Crear Deudor</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>  
                  <form method="POST" action="/sale/debt/create-debtor/">
                    {% csrf_token %}
                    <div class="modal-body">
                    <div class="mb-3">
                      <label for="debtor-name" class="form-label">Nombre del deudor</label>
                      <input name="debtor-name" type="text" class="form-control" id="debtor-name" placeholder="Nombre del deudor" />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                  </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>